[Unit]
Description=Distribution of Applications Flask Web App
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/distribution_of_applications_site_v2
EnvironmentFile=/opt/distribution_of_applications_site_v2/.env
ExecStart=/opt/distribution_of_applications_site_v2/.venv/bin/python webapp.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
